@use '../abstract/variaveis';
@use '../abstract/mixins';

header {
    background: variaveis.$gradiente-primario;
    padding: 2rem;

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.6rem;
        margin: 1rem;

        .linha {
            width: 80%;
            border-bottom: 1px solid black;
        }

        ul {
            display: inline-flex;
            gap: 2rem;

            li {
                list-style-type: none;
            }

            a {
                text-decoration: none;
                @include mixins.ff-fs-cl(variaveis.$ft-textos, 1rem, variaveis.$cor-primaria);
                font-weight: 500;
                transition: .3s;
                &:hover{
                    transform: scale(1.2);
                    font-weight: 700;
                }
            
            }
        }
    }

    #home {
        max-width: 1040px;
        @include mixins.margem-central(80%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mixins.responsivo('pequeno'){
            flex-direction: column;
        }
        @include mixins.responsivo('medio'){
            flex-direction: column;
        }
        
        
        .textos-home {
            max-width: 464px;

            h1 {
                @include mixins.ff-fs-cl(variaveis.$ft-titulos, 2rem, variaveis.$cor-primaria);
                margin-bottom: 2rem;

                span {
                    color: variaveis.$cor-secundaria;
                }
            }
            .btn-main {
                width: 280px;
                height: 66px;
                color: #fff;
                border: none;
                outline: none;
                border-radius: 66px;
                background: variaveis.$cor-default;
                font-size: 1.3rem;
                &:hover{
                    background-color: variaveis.$cor-secundaria;
                    transition: .5s;
                }
            }
        }

        .img-home {
            max-width: 474px;

            img {
                width: 100%;
                @include mixins.responsivo('pequeno') {
                    width: 300px;
                }
                @include mixins.responsivo('medio') {
                    width: 480px;
                }
            }
        }
    }
}