@use './variaveis';

@mixin margem-central($width) {
    margin: 0 auto;
    width: $width;
}

@mixin ff-fs-cl($f-family, $f-size, $f-color) {
    font-family: $f-family;
    font-size: $f-size;
    color: $f-color;
}

@mixin responsivo($media) {
    @if $media =='celular' {
        @media (max-width: 600px) {
            @content;
        }
    }

    @if $media =='tablet' {
        @media (min-width: 601px) and (max-width: 1024px) {
            @content;
        }
    }

    @if $media =='desktop' {
        @media (min-width: 1025px) {
            @content;
        }
    }
}